.customized {
	&.c-choice {
		margin: 0;
	}
	&.c-table__row {
		.c-table__cell {
			text-align: start;
		}
	}
	&.c-table__cell {
		text-align: start;
	}

	&.white-block {
		background: white;
		background-clip: content-box;
	}

	&.c-card {
		padding: 0;
	}

	&.row {
		margin: 0;
	}

	.c-btn {
		&.c-btn--danger {
			img {
				padding-right: 5%;
				transform: translateY(2px);
			}
		}
	}
	.c-btn {
		&.c-btn--secondary {
			img {
				padding-right: 5%;
				transform: translateY(2px);
			}
		}
	}

	.c-table {
		border: none;
		box-shadow: none;
	}
	&.c-table {
		border: none;
		box-shadow: none;
	}
}

/* enable absolute positioning */
.inner-addon {
	position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
	position: absolute;
	padding: 10px;
	pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon {
	left: 0px;
}

.right-addon .glyphicon {
	right: 10px;
}

/* add padding  */
.left-addon input {
	padding-left: 30px;
}

.right-addon input {
	padding-right: 30px;
}

.color_get_btn {
	background-color: #2083FE;
}

.customized_btn_top {
	top: 50px;
}

.style_text_ad_unit {
	color: #5b5f64;
}

.style_text_subtitle {
	margin-top: 3%;
	color: #323539;
	text-align: center;
}

.style_text_transparent {
	margin-top: 3%;
	color: #90999e;
	text-align: center;
}

.style_text_description_light {
	margin-top: 2%;
	color: #a6b0b5;
	text-align: center;
}

.style_text_description {
	color: #7a8085;
	text-align: center;

	max-height: 3em;
	line-height: 1.5em;

	display: block; /* or inline-block */
	text-overflow: ellipsis;
	word-wrap: normal;
	overflow: hidden;

	font-size: 0.75em;
}

.center_image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 27%;
	height: 29%;
	margin-top: 10%;
}

.center_button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
}

.customized-search-label {
	border: none;
	border-radius: 0;
	border-bottom: 2px solid #E0E0E0;
	padding-left: 1px;
	font-weight: bold;

	&::placeholder {
		color: black;
		font-weight: bold;
	}
}

.customized-table-row {

}

.important-white {
	background: white !important;
}

.no-left-right-m-p {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

.mv-auto {
	margin-top: auto;
	margin-bottom: auto;
}

.no-left-right-p {
	padding-left: 0;
	padding-right: 0;
}

.no-left-right-m {
	margin-left: 0;
	margin-right: 0;
}

.c-btn--fullwidth {
	width: 100%;
}

.c-switch__input:checked ~ .c-switch__label::before {
	background-color: #E72C35;
}

.c-pagination__link.is-active {
	color: #E72C35;
}

.vertical-center-switch {
	line-height: 0;
	margin-top: 0.4325rem;
}

.left-side-downarrow {
	position: relative;
}

.left-side-downarrow:after {
	position: absolute;
	top: 6px;
	right: 0;
	color: #768093;
	font-family: "feather";
	font-size: 20px;
	content: "\e842";
}

.customized-c-celect-downarrow {
	position: relative;

	&:after {
		position: absolute;
		top: 6px;
		right: 20px;
		color: #768093;
		font-family: "feather";
		font-size: 20px;
		content: "\e842";
	}
}

.customized-nav-tabs {
	border: none;
	border-bottom: 1px solid #768093;
	box-sizing: border-box;
	width: auto;
	height: max-content;

	.c-tabs__link.active {
		border-bottom: 3px solid red;
	}
	.c-tabs__link {
		transform: translateY(2px);
	}

	a {
		text-align: center;
		height: max-content;
	}
}

.gray-option-value {
	color: #d0d3d9;
}

.c-btn--create {
	border-color: $color-info;
	background-color: #449f28;

	&.c-btn--outline {
		background-color: transparent;
		color: $color-info;

		&:hover {
			color: $color-info;
		}
	}
}

.c-avatar__img {
	border-radius: 100%;
}

.c-image__dashboard {
	//border-radius: 100%;
}

.dashboard-c-select {
	&:after {
		right: 0;
	}
}

.vertical-text-orientation {
	&.rotate {
		transform: rotate(-180deg);
	}
	writing-mode: vertical-rl;
	text-orientation: mixed;
	color: #828096;
	font-size: 0.8em;
	width: 0.8em;
}

.dot-before-input {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		left: -15px;
		width: 10px;
		height: 10px;
		line-height: 0;
		margin-top: 15px;
		background: black;
		border-radius: 100%;
	}

	&.red {
		&:before {
			background: #ed4d4d;
		}
	}
	&.green {
		&:before {
			background: #2eca74;
		}
	}
}

.main-page-img {

}

.estimated-income-panel {
	font-size: 0.7em;
}

.estimated-income-panel-tabs {
	a {
		font-size: 0.7em;
	}
}

@media screen and (min-width: 1500px) {
	.estimated-income-panel-tabs {
		a {
			font-size: 1em;
		}
	}
}

@media screen and (min-width: 1200px) {
	.estimated-income-panel-tabs {
		a {
			font-size: 0.8em;
		}
	}
}

@media screen and (max-width: 767px) {
	.estimated-income-panel-tabs {
		a {
			font-size: 1em;
		}
	}
}

@media screen and (max-width: 300px) {
	.modified-dashboard-estimated-income {
		padding: 0;

		h4 {
			padding-left: 30px;
		}
	}
	.estimated-income-panel-tabs {
		a {
			font-size: 0.7em;
		}
	}
}

.dashboard-partrers-with-income-grid {
	display: grid;
}

@media screen and (max-width: 992px) {
	.dashboard-partrers-with-income-grid {
		grid-template-rows: 1fr 1fr;
	}
}
@media screen and (min-width: 992.1px) {
	.dashboard-partrers-with-income-grid {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width: 1500px) {
	.style_text_description {
		font-size: 1em;
	}
}

@media screen and (max-width: 1500px) {
	.style_text_description {
		font-size: 0.8em;
	}
}

@media screen and (max-width: 1299.9px) {
	.style_text_description {
		font-size: 0.7em;
	}
}

@media screen and (max-width: 1199.9px) {
	.style_text_description {
		font-size: 0.9em;
	}
}

@media screen and (max-width: 1199.9px) {
	.apply-button-in-reporting {
		margin-top: 2%;
	}
}

@media screen and (min-width: 1200px) {
	.apply-button-in-reporting {
		padding: 0;
	}
}

.fixed-image {
	width: auto;
	height: fit-content;
	margin: auto;
}

.fixed-image-block {
	height: 130px;
}

.integrations-page-cards {
	.style_text_description {
		height: 6em;
		max-height: 6em;
	}

	h5 {
		&.u-mh-auto {
			font-size: 1.5em;
			margin-bottom: 1em;
		}
	}
}

.modified-dashboard-table {
	.c-table__cell:last-child {
		padding-right: 10px;
	}

	.c-table {
		border: none;
		box-shadow: none;
	}

	&.c-table {
		border: none;
		box-shadow: none;
	}

	tr {
		border: none;
	}


	.c-table__cell {
		padding: 1.25rem 0 1.25rem 10px;
	}

	img {
		width: max-content;
	}
}

.mediaquery-br {
	display: none;
}

.integration-card {
	border: 1px solid #e8eaed;
	margin: 10px 0px;
	box-sizing: border-box;
	border-radius: 10px;
}

.modified-dashboard-table-main-block {
	//border-radius: 4px;
	//box-shadow: 0 10px 60px 0 rgba(29, 29, 31, 0.09);
}

.c-sidebar__brand {
	padding: 1rem 3rem 0.5rem 3rem;
	height: min-content;
}

.c-modal {
	&.fade {
		display: flex!important;
		visibility: hidden;

		.c-btn {
			visibility: hidden;
			transition: none;
		}

		&.show {
			visibility: unset;

			.c-btn {
				visibility: unset;
			}
		}

		.modal-dialog {
			margin: auto;
		}
	}
}

.ads-txt-textarea {
	width: 400px;
	min-height: 200px;
	font-family: monospace;
	font-size: 0.7em;
	padding: 1em 1.5em;
	color: #758094;
}

@media screen and (max-width: 500px) {
	.ads-txt-textarea {
		width: 250px;
		font-size: 0.5em;
		padding: 0.3em 0.45em;
	}
}

@media screen and (max-width: 370px) {
	.ads-txt-textarea {
		width: 180px;
		font-size: 0.5em;
		padding: 0.1em 0.15em;
	}
}

.three-cols-min-width {
	min-width: 345px;
}

.install-page-min-width-buttons {
	min-width: 265px;
}

.two-cols-min-width {
	min-width: 265px;
}

.customized-modal-tabs {
	.c-tabs__pane {
		font-size: 0.7em;
		font-family: monospace;
	}

	.c-tabs {
		border: none;
		box-shadow: none;
	}

	nav, .c-tabs__content, .c-tabs__pane {
		border: none;
	}
}
